.container {
  width: 100%;
  background-color: transparent;
  overflow-x: hidden;
  /* scroll-snap-type: y mandatory;
  overflow-y: scroll; */
  height: 100vh;
  -webkit-overflow-scrolling: touch;
}

.section {
  scroll-snap-align: start;
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: transparent;
  z-index: 2;
}
