.container {
  margin: 10px;
  display: flex;
  padding: 10px 0;
  align-items: center;
  background: var(--box);
}

.NewTodoForm {
  margin: 0 10px;
  display: flex;
  flex-grow: 1;
  background-color: transparent;
  flex-wrap: wrap;
}

.NewTodoForm > input {
  flex-grow: 1;
  border: none;
  background: var(--box);
  font-size: initial;
  margin-right: 10px;
}

.NewTodoForm > button {
  padding: 5px;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: auto;
  cursor: pointer;
  align-self: flex-end;
  text-wrap: wrap;
}

.NewTodoForm > button > svg {
  background-color: transparent;
}

.NewTodoForm > input:focus {
  border: none;
  background: var(--box);
  font-size: initial;
  outline: none;
}

@media only screen and (max-width: 720px) {
  .search-input {
    width: 18rem;
    padding: 0.5rem 1rem;
    border: 1px solid var(--hover);
    border-radius: 999px;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
    transition: all 0.5s;
  }
}
