.Todo {
  display: flex;
  margin: 10px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background: var(--box);
  text-align: left;
}

.Todo > li {
  background-color: var(--box);
}

.Todo-buttons {
  display: flex;
  flex-shrink: 0;
  background-color: transparent;
}

.Todo-buttons > button > svg {
  background-color: transparent;
}

.Todo-buttons > button {
  border: none;
  font-size: 1em;
  margin: 0.4em;
  cursor: pointer;
}

.Todo-edit-form {
  display: flex;
  background-color: transparent;
  flex-grow: 1;
  justify-content: space-between;
}

.Todo-edit-form > input {
  border: none;
  background: var(--box);
  font-size: initial;
  font-family: "Quicksand", sans-serif;
  margin-right: 10px;
  width: 100%;
}

.Todo-edit-form > input:focus {
  border: none;
  background: var(--box);
  font-size: initial;
  outline: none;
}

.Todo-edit-form > button {
  border: none;
  font-size: 1em;
  margin: 0.4em;
  cursor: pointer;
}

.Todo-edit-form > button > svg {
  background-color: transparent;
}

@keyframes strikeitem {
  to {
    width: calc(100% + 1rem);
  }
}
