.container {
  transition: background-color 0.2s;
  display: flex;
  margin-right: 5px;
}

.container:hover {
  background-color: var(--hover);
}

.playlistCard {
  transition: background-color 0.2s;
  background-color: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  cursor: pointer;
  padding: 10px 0;
  width: 100%;
}

.played {
  background-color: var(--selected);
}

.currVideo {
  background-color: var(--hover);
}

.imageContainer {
  position: relative;
  min-width: fit-content;
  background-color: transparent;
}

.thumbnail {
  object-fit: cover;
  height: 65px;
  border-radius: 5px;
}

.duration {
  font-size: 0.8rem;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--base-text);
  padding: 1px;
  border-radius: 3px;
}

.details {
  text-align: left;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  overflow: hidden;
  width: 100%;
}

.topic {
  margin-top: 5px;
  background-color: transparent;
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--base-text);
  max-height: 2.4rem;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.author {
  background-color: transparent;
  font-size: 0.8rem;
  color: var(--text);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.videoIdx {
  background-color: transparent;
  color: var(--text);
  font-size: 0.9rem;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.videoIdx > svg {
  background-color: transparent;
  width: 0.6rem;
  fill: var(--text);
}
