/* dark theme colors */
:root {
  --theme: #5db867;
  --theme-hover: #3e9048;
  --themeHover: #3e9048;
  --box: #1f1f1f;
  --base: #121212;
  --base-text: #ffffff;
  --text: #878787;
  --hover: #3f3f3f;
  --baseText: #ffffff;
  --error: tomato;
  --border: #525252;
  --selected: #464646;
}

/* light theme colors */
/* :root {
  --theme: #5db867;
  --themeHover: #3e9048;
  --box: #ffffff;
  --base: #f5f5f5;
  --text: #333333;
  --hover: #e0e0e0;
  --baseText: black;
} */

.app {
  overflow-x: hidden;
}

.app::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

.app::-webkit-scrollbar-track {
  background-color: var(--box);
  border-radius: 10px;
}

.app::-webkit-scrollbar-thumb {
  background-color: var(--hover);
  border-radius: 10px;
}

.margin-correction-open {
  margin-top: 61px;
  margin-left: 205px;
  width: 100%;
  transition: all 0.5s;
}

.margin-correction-closed {
  margin-top: 61px;
  margin-left: 55px;
  width: 100%;
  transition: all 0.5s;
}
/* only when i am at auth page */
/* * {
  -webkit-filter: blur(1px);
} */
.blocked {
  position: relative;
}

@media only screen and (max-width: 780px) {
  /* body {
    -webkit-filter: blur(8px);
  } */

  .margin-correction-open {
    margin-top: 61px;
    margin-left: 205px;
    width: 100%;
    -webkit-filter: blur(8px);
    filter: blur(8px);
    transition: all 0.5s;
    .blocked {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
      background-color: white;
      background: transparent;
    }
  }
  .margin-correction-closed {
    margin-top: 61px;
    margin-left: 55px;
    width: 100%;

    transition: all 0.5s;
  }
}

@media only screen and (max-width: 600px) {
  /* body {
    -webkit-filter: blur(8px);
  } */

  .margin-correction-closed {
    margin-top: 61px;
    margin-left: 0px;
    width: 100%;

    transition: all 0.5s;
  }
}
