.margin-correction-open {
  margin-top: 61px;
  margin-left: 200px;
  width: 100%;
  transition: all 0.5s;
}

.margin-correction-closed {
  margin-top: 61px;
  margin-left: 50px;
  width: 100%;
  transition: all 0.5s;
}
/* only when i am at auth page */
/* * {
  -webkit-filter: blur(1px);
} */
.blocked {
  position: relative;
}

@media only screen and (max-width: 780px) {
  /* body {
    -webkit-filter: blur(8px);
  } */

  .margin-correction-open {
    margin-top: 61px;
    margin-left: 200px;
    width: 100%;
    -webkit-filter: blur(8px);
    transition: all 0.5s;
    .blocked {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
      background-color: white;
      background: transparent;
    }
  }
  .margin-correction-closed {
    margin-top: 61px;
    margin-left: 50px;
    width: 100%;

    transition: all 0.5s;
  }
}

@media only screen and (max-width: 600px) {
  /* body {
    -webkit-filter: blur(8px);
  } */

  .margin-correction-closed {
    margin-top: 61px;
    margin-left: 0px;
    width: 100%;

    transition: all 0.5s;
  }
}
