/* dark theme colors */
:root {
  --theme: #5db867;
  --theme-hover: #3e9048;
  --box: #1f1f1f;
  --base: #121212;
  --base-text: #dddddd;
  --text: #878787;
  --hover: #3f3f3f;
  --success: #5db867;
  --error: tomato;
  --warning: #f39c12;
  --info: #3498db;
  --border: #525252;
  --selected: #282828;
  --skeleton: #374151;
}

[theme="light"] {
  --theme: #5db867;
  --theme-hover: #3e9048;
  --box: #daeaf1;
  --base: #f1f1f1;
  --base-text: #121212;
  --text: #878787;
  --hover: #f0f0f0;
  --success: #5db867;
  --error: tomato;
  --warning: #f39c12;
  --info: #3498db;
  --border: #e0e0e0;
  --selected: #f0f0f0;
  --skeleton: #e0e0e0;
}

/* for activity calendar */

:root {
  --day-bg: #ebedf0;
  --level0-bg: #ebedf0; /* No activity */
  --level1-bg: #c6e48b; /* Low activity */
  --level2-bg: #7bc96f; /* Medium activity */
  --level3-bg: #239a3b; /* High activity */
  --level4-bg: #196127; /* Very high activity */
  --base: #121212;
}

[theme="light"] {
  --day-bg: #ebedf0;
  --level0-bg: #ebedf0; /* No activity */
  --level1-bg: #c6e48b; /* Low activity */
  --level2-bg: #7bc96f; /* Medium activity */
  --level3-bg: #239a3b; /* High activity */
  --level4-bg: #196127; /* Very high activity */
  --base: #f1f1f1;
}

.app {
  overflow-x: hidden;
}
