@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: var(--base);
  color: var(--base-text);
}

*::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

*::-webkit-scrollbar-track {
  background-color: var(--box);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--hover);
  border-radius: 5px;
}
