@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: var(--base);
  color: var(--baseText);
}

*::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background-color: var(--base);
  border-radius: 0 10px 10px 0;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--hover);
  border-radius: 10px;
}
