.playlistHeader {
  padding: 10px 20px;
  background-color: var(--box);
  color: var(--base-text);
  border-radius: 10px 10px 0 0;
}

.title {
  background-color: transparent;
  font-size: 1.2rem;
  color: var(--base-text);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.author {
  background-color: transparent;
  font-size: 0.8rem;
  color: var(--text);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.status {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

.duration {
  color: var(--theme);
  background-color: transparent;
  font-size: 0.8rem;
  margin: 0;
}

.statusLine {
  border-top: 1px solid var(--theme);
}
