.createFooter {
  border-radius: 10px;
  border: 1px solid transparent;
}

.NextBtn,
.BackBtn {
  margin: 10px;
  align-self: flex-end;
  background-color: var(--theme);
  border-radius: 5px;
  border: none;
  color: var(--base-text);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border: 1px solid transparent;
}

.BackBtn {
  align-self: flex-start;
}

.NextBtn:hover,
.BackBtn:hover {
  border: 1px solid var(--theme-hover);
  background-color: transparent;
  color: var(--base-text);
}

.disabledBtn {
  color: var(--base-text);
  background-color: transparent;
  border: 1px solid var(--hover);
}
.disabledBtn:hover {
  color: var(--base-text);
  border: 1px solid var(--hover);
}
