.container {
  margin: auto;
  justify-content: center;
  text-align: center;
  width: 100%;
  min-height: fit-content;
}

.createDivider {
  width: 100%;
  border: none;
  height: 1px;
  background-color: var(--hover);
}

.createPlaylist-container {
  margin: 20px;
  max-width: 100%;
  border-radius: 10px;
  border: 1px solid var(--hover);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.createDivider {
  height: 1px;
  border: none;
  background-color: var(--hover);
  margin: auto;
  margin-top: 2px;
  margin-bottom: 2px;
}
.FotterCreatePlaylist {
  text-align: left;

  justify-content: left;
}
