:root {
  --divFocus: rgb(138, 137, 137);
  --divHover: rgb(138, 137, 137);
}

/* Div Styling */
.titleDiv,
.descDiv {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.descDiv {
  margin-top: 10px;
}

/* Required Elements */
.required {
  color: var(--error);
}

/* Header Styles */
.inputHeader {
  display: flex;
  justify-content: space-between;
}

/* Placeholders */
.descInput:empty:before {
  content: attr(data-placeholder);
  color: var(--text);
}

/* Input Fields */
.titleDiv > .titleInput,
.descDiv > .descInput {
  border-radius: 5px;
  padding: 5px;
  outline: none; /* Remove focus outline */
  font-size: larger;
  border: 1px solid var(--hover);
  color: var(--text);
}
.titleInput::placeholder {
  color: var(--text);
}
/* Text Alignment */
.descInput {
  height: 301px;
  text-align: left;
  max-height: 301px;
  overflow-y: auto;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

/* Hover Styles */
.titleDiv > .titleInput:hover,
.descDiv > .descInput:hover,
.pdfDiv:hover {
  border: 1px solid var(--divHover);
}

/* Focus Styles */
.titleDivFocused > .titleInput,
.descDivFocused > .descInput,
.pdfDivFocused {
  border: 1px solid var(--divFocus);
}

/* Character Count */
.count {
  align-self: flex-end;
  color: var(--text);
  font-size: smaller;
  margin-right: 5px;
}

/* Labels */
.titleLabel,
.descLabel {
  align-self: flex-start;
  margin-left: 5px;
}

/* Dashed Container */
.dashContainer {
  align-self: center;
  display: flex;
  flex-direction: column;
  height: 75px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px dashed var(--hover);
}

/* Media Queries */
@media only screen and (max-width: 680px) {
  /* Your media query styles here */
  /* body { -webkit-filter: blur(8px); } */
  .column50 {
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    flex: auto;
  }
}
