:root {
  --divFocus: rgb(138, 137, 137);
  --divHover: rgb(138, 137, 137);
}

.titleDiv,
.descDiv {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--hover);
  display: flex;
  flex-direction: column;
}

.titleDiv:hover,
.descDiv:hover,
.pdfDiv:hover {
  border: 1px solid var(--divHover);
}

.titleDivFocused,
.descDivFocused,
.pdfDivFocused {
  border: 1px solid var(--divFocus);
}

.count {
  align-self: flex-end;
}

.titleInput,
.descInput {
  border-radius: 5px;
  padding: 5px;
  outline: none; /* Remove focus outline */
}

.titleLabel,
.descLabel {
  align-self: flex-start;
}

.dashContainer {
  align-self: center;
  display: flex;
  flex-direction: column;
  height: 75px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px dashed var(--hover);
}

@media only screen and (max-width: 680px) {
  /* body {
    -webkit-filter: blur(8px);
  } */

  .column50 {
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    flex: auto;
  }
}
