.alertList {
  position: fixed;
  max-width: 40%;
  z-index: 1000;
  top: 60px;
  right: 10px;
  transition: all 0.5s;
  background-color: transparent;
}

.alert {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 2px;
  font-size: 1rem;
  border-radius: 10px;
  background-color: var(--box);
  overflow: hidden;
}

.text {
  background-color: transparent;
  color: var(--base-text);
  font-weight: 500;
  margin: 0 5px;
}

.info {
  fill: var(--info);
  color: var(--info);
}

.success {
  fill: var(--success);
  color: var(--success);
}

.warning {
  fill: var(--warning);
  color: var(--warning);
}

.error {
  fill: var(--error);
  color: var(--error);
}

.icon {
  width: 1rem;
  height: 1rem;
  background-color: transparent;
}

.closeButton {
  background-color: transparent;
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
}

.closeIcon {
  background-color: transparent;
  width: 1rem;
  height: 1rem;
}
