.cardContainer {
  width: 18rem;
  height: 10rem;
  position: relative;
  overflow: hidden;
}

.cardImage {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  opacity: 1;
  transition: opacity 0.3s;
  border-radius: 5px;
}

.cardImage:hover {
  opacity: 0.2;
  transition: 0.4s;
}

.cardContent {
  margin-top: 1rem;
  margin-left: 1rem;
  background-color: transparent;
  opacity: 0;
  transition: opacity 0.3s;
}

.cardImage:hover .cardContent {
  opacity: 1;
}

.title {
  background-color: transparent;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.description {
  background-color: transparent;
  font-size: 1rem;
  color: #777;
}
