.cardDetails {
  display: flex;
  align-items: center;
}

.profilePic {
  min-width: 35px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  margin-top: 10px;
}

.profilePic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textDetails {
  width: 100%;
}

.title {
  margin-top: 10px;
  background-color: transparent;
  font-size: 1rem;
  max-width: 280px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.author {
  background-color: transparent;
  font-size: 0.8rem;
  color: var(--text);
  text-wrap: wrap;
  max-width: 280px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.views {
  background-color: transparent;
  font-size: 0.8rem;
  color: var(--text);
  text-wrap: wrap;
  max-width: 280px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
