.cardDetails {
  text-decoration: none;
}

.title {
  margin-top: 10px;
  background-color: transparent;
  font-size: 1rem;
  max-width: 280px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.author {
  background-color: transparent;
  font-size: 0.8rem;
  color: var(--text);
  text-wrap: wrap;
  max-width: 280px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
