.d-none {
  display: none;
}
.feed-btn-left {
  display: absolute;
  position: absolute;
  left: 85px;
  height: 176px;
  z-index: 3;
  transition: all 0.5s;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
}

.feed-btn-left-shift {
  left: 230px;
  transition: all 0.5s;
}

.feed-btn-right {
  height: 176px;
  position: absolute;
  right: 45px;
  z-index: 3;
  transition: all 0.5s;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
}

.feed-btn-left > svg {
  font-size: 50px;
  background-color: transparent;
}

.feed-btn-right > svg {
  font-size: 50px;
  background-color: transparent;
}
.feed-btn-right > svg > path {
  color: rgba(255, 255, 255, 0.5);
}
.feed-btn-left > svg > path {
  color: rgba(255, 255, 255, 0.5);
}
.feed-btn-left:hover > svg > path {
  color: rgba(255, 255, 255, 0.85);
}

.feed-btn-right:hover > svg > path {
  color: rgba(255, 255, 255, 0.85);
}

@media only screen and (max-width: 600px) {
  /* body {
      -webkit-filter: blur(8px);
    } */

  .feed-btn-right {
    right: 30px;
  }

  .feed-btn-left {
    left: 30px;
  }
}
