.feed {
  display: flex;
  flex-direction: column;
}

.feed > h1 {
  margin-bottom: 20px;
  margin-left: 40px;
  font-size: 2rem;
  font-weight: bold;
  color: var(--base-text);
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.feed-container {
  gap: 1rem;
  overflow-x: auto;
  height: fit-content;
  white-space: nowrap;
  display: inline-flex;
  max-width: fit-content;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.feed-container::-webkit-scrollbar-thumb {
  background: transparent;
}

.feed-container::-webkit-scrollbar-track {
  background: transparent;
}

.leftButton,
.rightButton {
  margin: 0 10px;
  margin-bottom: 50px;
  height: 70px;
  width: 40px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: var(--base-text);
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 24px;
  border-radius: 5px;
  transition: all 0.3s;
  padding: 3px;
}

.leftButton {
  margin-left: 0;
  margin-right: 5px;
}

.rightButton {
  margin-left: 5px;
  margin-right: 0;
}

.leftButton > svg,
.rightButton > svg {
  background-color: transparent;
}

.leftButton:hover,
.rightButton:hover {
  background-color: var(--box);
}

.noData {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: var(--box);
  color: var(--base-text);
  font-size: large;
}
