.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: fit-content;
}

.top {
  display: flex;
  flex: 1;
  flex-direction: row;
  max-height: min-content;
  margin-bottom: 20px;
  align-items: stretch;
}

.videoContainer {
  width: 70%;
  margin-right: 10px;
}

.playlistContainer {
  width: 30%;
}

@media screen and (max-width: 980px) {
  .top {
    flex-direction: column;
  }

  .videoContainer {
    width: 100%;
    margin-right: 0;
  }

  .playlistContainer {
    width: 100%;
    margin-top: 10px;
  }
}
