.video-player {
  display: flex;
  padding: 20px;
  max-height: 790px;
}

.video-container {
  flex: 1;
  position: relative;
  padding-bottom: 56.25%;
}

.video-container iframe {
  border-radius: 10px 10px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tab-switch {
  width: 100%;
  background-color: var(--box);
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin: 10px 0;
}

.tab-switch:hover {
  background-color: var(--hover);
  border-color: var(--theme);
}

@media screen and (max-width: 768px) {
  .video-player {
    flex-direction: column;
  }

  .video-container {
    margin-right: 0;
  }

  .video-playlist {
    flex: 1;
  }
}
