.comment-footer {
  background-color: transparent;
  display: flex;
  font-size: 14px;
  margin-top: 5px;
  transition: all 0.3s ease;
}

.comment-footer > p {
  background-color: transparent;
  font-size: 0.8rem;
  margin-right: 10px;
}

.comment-footer > button {
  background-color: transparent;
  border: none;
  color: var(--text);
  font-size: 0.8rem;
  font-weight: 300;
  margin-left: 10px;
}

.comment-footer > button:hover {
  color: var(--theme-hover);
}

.icon {
  background-color: transparent;
  font-size: 1rem;
  margin-right: 5px;
}

.icon > path {
  fill: var(--text);
}

.icon > path:hover {
  fill: var(--theme-hover);
}

.icon:hover {
  cursor: pointer;
}

.selected > path {
  fill: var(--theme);
}
