.comments {
  background-color: var(--box);
  border-radius: 10px;
  padding: 10px;
}

.comments hr {
  height: 2px;
  background-color: var(--hover);
  border: none;
  margin: 10px 3px;
  bottom: 0;
}

.heading {
  background-color: transparent;
  font-size: 17px;
  font-weight: 500;
  margin: 10px 0 20px 10px;
}
