.replies {
  margin: 10px;
  margin-bottom: 30px;
  background-color: transparent;
  display: flex;
}

.user-image {
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 10px;
}

.reply-details {
  background-color: transparent;
}

.reply-details > h1 {
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  margin-top: 5px;
}

.reply-details > p {
  margin-top: 5px;
  background-color: transparent;
  font-size: 14px;
  font-weight: 300;
}
