.playlist {
  justify-content: center;
  border-radius: 10px;
  background-color: var(--base);
  border-width: 0.5px;
  border-color: var(--border);
  overflow: hidden;
}

.playlist-items {
  background-color: transparent;
  overflow: auto;
  width: 100%;
}
