.container {
  margin-top: 10px;
  margin-bottom: 50px;
}

.searchContainer {
  display: flex;
  margin: 10px 10% 0;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--box);
  word-wrap: break-word;
  white-space: normal;
  overflow: auto;
}

.Thumbnail {
  margin: auto;
}

.searchContainer:hover {
  transition: all 0.5s;
  border: 1px solid var(--hover);
}

.details {
  text-align: left;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  overflow: hidden;
  width: 100%;
}

.title {
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
  color: var(--base-text);
  max-height: 2.4rem;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.headline {
  display: flex;
  flex-direction: row;
}

.headline > img {
  height: 40px;
  margin-right: 10px;
  margin-top: 5px;
}

.titleAuthor {
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.author {
  background-color: transparent;
  font-size: 0.8rem;
  color: var(--text);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 5px 0;
}

.avatar {
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.desc {
  font-size: small;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  color: var(--text);
}

@media only screen and (max-width: 1000px) {
  .searchContainer {
    margin: 10px 5% 0;
  }
}

@media only screen and (max-width: 720px) {
  .searchContainer {
    margin: 10px;
  }

  .searchContainer {
    max-width: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;
  }

  .details {
    margin-left: 0;
  }

  .title {
    margin-top: 10px;
  }
}
