.sidebar {
  margin-left: 5px;
  margin-top: 61px;
  height: 100vh;
  position: fixed;
  z-index: 1;
  background: var(--base);
  color: #fff;
  width: 200px;
  transition: all 0.5s;
}

.sidebar-open {
  width: 200px;
}

.sidebar-close {
  width: 50px;
  .icon > svg {
  }
}

.top-section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.logo {
  font-size: 30px;
}

.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}

.link {
  margin: 5px 0px;
  background-color: var(--base);
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}


.link > div {
  background-color: transparent;
}

.icon > svg {
  margin-top: 5px;
  background-color: transparent;
}

.link:hover {
  background: var(--hover);
  color: white;
  transition: all 0.5s;
  border-radius: 10px;
}
.change{

  background-color: var(--base);
  display: flex;
  color: #fff;
  transition: all 0.5s;
  outline: none;
}
.change:hover{
  background-color: var(--hover);
  /* color: white; */
  opacity: transparent;
  color: #fff;
  transition: all 0.5s;
  border-radius: 10px;
}

.active {
  display: flex;
  border-radius: 5px;
  background: var(--hover);
  color: #ffffff;
}

.icon,
.link-text {
  font-size: 20px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  /* body {
    -webkit-filter: blur(8px);
  } */
  .sidebar {
    margin-left: 0px;
    transition: all 0.5s;
  }
  .sidebar-close {
    display: none;
  }

  /* .icon > svg {
    font-size: 22px;
  } */
}
