.sidebar {
  margin-top: 55px;
  height: 100vh;
  position: fixed;
  z-index: 1;
  background: var(--base);
  color: var(--base-text);
  width: 200px;
  border-right: 1px solid var(--box);
  transition: all 0.3s;
}

.sidebar-open {
  width: 200px;
}

.sidebar-close {
  width: 60px;
}

.sidebar-item-container {
  padding: 5px;
}

.active {
  display: flex;
  border-radius: 5px;
  background: var(--hover);
  color: var(--base-text);
}

.link {
  margin: 5px 0px;
  background-color: var(--base);
  display: flex;
  color: var(--base-text);
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.3s;
}

.link > div {
  background-color: transparent;
}

.link:hover {
  background: var(--hover);
  color: var(--base-text);
  transition: all 0.3s;
  border-radius: 10px;
}

.icon,
.link-text {
  font-size: 20px;
  cursor: pointer;
}

.icon > svg {
  margin-top: 5px;
  background-color: transparent;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    transition: all 0.3s;
  }
  .sidebar-close {
    display: none;
  }
}
