.flexContainer {
  display: flex;
  flex-direction: row;
}

.uploadContainer {
  flex: 1;
  box-sizing: border-box;
  height: 100%;
  margin: 20px;
  max-width: 40%;
  height: 400px;
}

.detailsContainer {
  flex: 1;
  box-sizing: border-box;
  height: 100%;
  margin: 20px;
  margin-left: 0;
}

@media only screen and (max-width: 720px) {
  .flexContainer {
    flex-direction: column;

    transition: all 0.5s;
  }
}

@media only screen and (max-width: 1200px) {
  .flexContainer {
    flex-direction: column;

    transition: all 0.5s;
  }
  .detailsContainer {
    margin-top: 0;
    margin-left: 20px;
  }
  .uploadContainer {
    height: 100%;
    max-width: 100%;
  }
}
