.description {
  background-color: var(--box);
  border-radius: 10px;
  max-height: 200px;
  margin-top: 10px;
  padding: 10px;
  overflow: hidden;
}

.description > h1 {
  background-color: transparent;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 10px;
}

.description > p {
  background-color: transparent;
  color: var(--text);
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 10px;
}

.description > button {
  color: var(--theme);
  border-radius: 5px;
  cursor: pointer;
  text-decoration: underline;
}

.description > button:hover {
  color: var(--theme-hover);
}
