.overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: var(--base);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  max-height: 80%;
  overflow: hidden;
  z-index: 1001;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--box);
  padding: 20px;
  padding-bottom: 0;
  border-radius: 10px 10px 0 0;
  color: var(--text);
  font-size: 20px;
  font-weight: 500;
  position: relative;
  border-bottom: 1px solid var(--hover);
  z-index: 2;
}

.header > h1 {
  background-color: transparent;
  font-size: 1.1rem;
  margin-bottom: 10px;
  max-height: 30px;
}

.modalContent {
  overflow-y: auto;
  max-height: 500px;
}

.modalContent > p {
  padding: 20px;
  padding-top: 10px;
  font-size: 0.9rem;
  background-color: transparent;
  color: var(--text);
}

.close {
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.close:hover {
  background-color: var(--hover);
}

@media only screen and (max-width: 980px) {
  .modal {
    width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .modal {
    width: 90%;
  }
}
