.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modalContent {
  background-color: var(--box);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
}

.modalContent::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

.modalContent::-webkit-scrollbar-track {
  background-color: var(--box);
  border-radius: 10px;
}

.modalContent::-webkit-scrollbar-thumb {
  background-color: var(--hover);
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--box);
  padding: 20px;
  padding-bottom: 0;
  border-radius: 10px 10px 0 0;
  color: var(--text);
  font-size: 20px;
  font-weight: 500;
  position: relative;
}

.header > h1 {
  background-color: transparent;
}

.modalContent > p {
  padding: 20px;

  background-color: transparent;
  color: var(--text);
}

.close {
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}
