.video-controls {
  margin: 10px 0;
  display: flex;
  height: fit-content;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
  background-color: var(--base);
}

.videoTopic {
  margin: 10px;
  background-color: transparent;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--base-text);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.flex {
  display: flex;
  cursor: pointer;
}

.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.author > img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0 10px;
}

.author > h1 {
  color: var(--base-text);
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  width: 150px;
}

.author > span > p {
  font-size: 0.8rem;
  color: var(--text);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.likesDislikes {
  display: flex;
  margin: 0 5px;
}

.likesDislikes > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 80px;
  background-color: var(--hover);
}

.likesDislikes > div > p {
  font-weight: 600;
  color: var(--base-text);
  cursor: pointer;
  background-color: transparent;
}

.icon {
  background-color: transparent;
  cursor: pointer;
  margin: 0 8px;
}

.icon path {
  fill: var(--text);
}

.selected path {
  fill: var(--theme-hover);
}

.buttons {
  text-align: center;
}

.btn-hover {
  width: 65px;
  font-size: 16px;
  font-weight: 600;
  color: var(--base-text);
  cursor: pointer;
  padding: 5px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 0 50px 50px 0;
  transition: all 0.4s ease-in-out;
}

.btn-hover-back {
  border-radius: 50px 0 0 50px;
}

.btn-hover:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-5 {
  background-image: linear-gradient(
    to right,
    var(--hover),
    var(--box),
    var(--hover),
    var(--box)
  );
  /* box-shadow: 0 4px 15px 0 rgba(143, 142, 142, 0.75); */
}

.btn-hover.color-5-back {
  background-image: linear-gradient(
    to left,
    var(--hover),
    var(--box),
    var(--hover),
    var(--box)
  );
  /* box-shadow: 0 4px 15px 0 rgba(143, 142, 142, 0.75); */
}

.nextFlex {
  display: flex;
  background-color: transparent;
}

.nextFlex > svg {
  margin: auto 0;
}

@media screen and (max-width: 560px) {
  .flex {
    margin-top: 10px;
  }
  .video-controls {
    flex-direction: column;
  }
}
