.container {
  min-height: 35px;
  display: flex;
  align-items: center;
}

.link {
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.logo {
  height: 35px;
  min-width: 35px;
  padding: 0 10px;
}

.text {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--theme);
}

.FaBars {
  height: 24px;
  width: 50px;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .container {
    justify-content: space-between;
    padding: 0;
    transition: all 0.5s;
  }
  .logo {
    padding: 0;
    transition: all 0.5s;
  }
  .link span {
    display: none;
    transition: all 0.5s;
  }
}
