.overlay {
  background-color: transparent;
  position: absolute;
  height: 1000vh;
  width: 1000vw;
}

.dropdown {
  z-index: 1;
  position: absolute;
  right: 30px;
  top: 50px;
  height: 300px;
  width: 250px;
  border-radius: 5px;
  background-color: var(--box);
  border: 1px solid var(--base);
}

.profile {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: default;
  background-color: transparent;
}

.profile > img {
  border-radius: 50%;
  height: 80px;
  margin-bottom: 10px;
}

.profile > h1,
.profile > p {
  background-color: transparent;
  columns: var(--base-text);
}

.profile > p {
  font-size: small;
  color: var(--text);
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  background-color: transparent;
}

.button {
  display: flex;
  align-items: center;
  background-color: transparent; /* Set background color to transparent */
  color: red; /* Set the color of the icons to red */
}

.button > svg {
  color: var(--theme);
  background-color: transparent; /* Set background color of SVG icons to transparent */
}
