.container {
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: var(--box) 1px solid;
  position: fixed;
  z-index: 2;
  padding: 0 1rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.dark-container {
  background-color: var(--base);
}

.container img {
  height: 2rem;
  margin-right: 0.5rem;
}
