.search-container {
  max-height: 35px;
  display: flex;
  justify-self: center;
  align-items: center;
}

.search-input,
.search-button {
  height: 35px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--base-text);
  padding: 0.5rem 1rem;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.search-input {
  width: 30rem;
  border: 1px solid var(--hover);
  border-radius: 999px 0 0 999px;
}

.search-input:hover {
  border-color: var(--text);
}

.search-button {
  border: 1px solid var(--hover);
  background-color: var(--box);
  color: var(--base-text);
  border-radius: 0 999px 999px 0;
}

.search-button:hover {
  background-color: var(--hover);
  border: 1px solid var(--text);
}

@media only screen and (max-width: 720px) {
  .search-input {
    width: 16rem;
  }
}

@media only screen and (max-width: 480px) {
  .search-input {
    width: 10rem;
  }
}

@media only screen and (max-width: 400px) {
  .search-input {
    width: 8rem;
  }
}
