.search-container {
  position: relative;
}

.search-input {
  width: 30rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--hover);
  border-radius: 999px;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.search-input:hover {
  border-color: rgb(134, 134, 134);
}

.search-button {
  border: 1px solid var(--hover);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 0.5rem 1rem;
  background-color: var(--box);
  color: white;
  border-radius: 0 999px 999px 0;
  outline: none;
  transition: background-color 0.2s;
}
.search-button > svg {
  background-color: transparent;
}

.search-button:hover {
  background-color: var(--hover);
}

@media only screen and (max-width: 720px) {
  /* body {
    -webkit-filter: blur(8px);
  } */
  .search-input {
    width: 20rem;
    padding: 0.5rem 1rem;
    border: 1px solid var(--hover);
    border-radius: 999px;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
  }
}
