.container {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding: 0 10px;
  margin-right: 10px;
}

.profile-image {
  height: 35px;
  min-width: fit-content;
  border-radius: 50%;
}

.username {
  margin-left: 5px;
  color: var(--base-text);
}

@media only screen and (max-width: 1000px) {
  .container {
    justify-content: space-between;
    padding-right: 0;
    transition: all 0.5s;
  }
  .username {
    display: none;
  }
  .mainphoto {
    display: none;
  }
}
