.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0 1rem;
}

.profile-image {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.username {
  color: white;
}

@media only screen and (max-width: 980px) {
  .container {
    justify-content: space-between;
    padding: 0;
    transition: all 0.5s;
  }
  .username {
    display: none;
  }
}
