.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 1rem;
}

.profile-image {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.username {
  color: white;
}

@media only screen and (max-width: 980px) {
  /* body {
    -webkit-filter: blur(8px);
  } */
  .username {
    display: none;
  }
}
